<h1>Product</h1>
<p>Product details</p>
<p><b>Id</b>:<b>{{product.id}}</b>
<p><b>{{product.name}}</b>: {{product.description}}</p>
<p><b>Price</b>: ${{product.price}}</p>

<h1>Send a comment!</h1>
<form action="/comments" method="POST">
Name:<input type="text" name="userName" />
Comment:<input type="text" name="comment" />
<button type="submit" name="productId" value ={{product.id}}>Send</button>
</form>
    
